<div class="content-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="auto">
  <swiper class="swiper-container" fxFlex="auto" [config]="configCoverFlow" [disabled]="disabled" (indexChange)="onIndexChange($event)" (swiperTransitionStart)="onSwiperEvent('transitionStart')" (swiperTransitionEnd)="onSwiperEvent('transitionEnd')">
    <div *ngFor="let post of posts" >
      <div fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
        <div class="post-image">
          <img [src]="post.imagePath" [alt]="post.title">
        </div>
      </div>
    </div>
  </swiper>
</div>



